*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Press Start 2P', cursive;
}

canvas{
    width: 100%;
}

.container{
    position: relative;
}

.health-bar-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.player-health,
.enemy-health,
.player-bar,
.enemy-bar
{
    border-radius: 15px;
    height: 25px;
}

.player-health,
.enemy-health
{
background-color: rgb(230, 75, 75);
width:40%;
}

.player-bar,
.enemy-bar{
background-color: rgb(75, 230, 87);
width: 100%;
}

.player-health{
    display: flex;
    justify-content: flex-end;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 2rem;
    border: solid 3px yellow;
    border-radius: 5px;
    height:70px;
    width: 70px;
}

.win-results{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 2rem;
    color: yellow;
    align-items: center;
    justify-content: center;
    display: none;
}
